<div class="container">
	<h1>Edit my profile</h1>

	<form name="profileForm" class="form-horizontal">
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked">
				<li ng-class="{active: profile.ui.tab.active == 'general'}">
					<a href="" ng-click="profile.ui.tab.active = 'general'">General settings</a>
				</li>
				<li ng-class="{active: profile.ui.tab.active == 'units'}">
					<a href="" ng-click="profile.ui.tab.active = 'units'">Units</a>
				</li>
				<li ng-class="{active: profile.ui.tab.active == 'formulas'}">
					<a href="" ng-click="profile.ui.tab.active = 'formulas'">Formulas</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-9" ng-switch="profile.ui.tab.active">
			<div ng-switch-when="general">
				<div ng-include="'partials/profile/tab_general.html'"></div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-3 text-right">
					<button ng-click="signup()" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>


	</form>

</div>
