<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="st.userService" class="net.cpollet.sportracker.service.InMemoryUserService"/>
	<bean id="st.tokenService" class="net.cpollet.sportracker.service.InMemoryTokenService"/>

	<bean class="net.cpollet.sportracker.Initializer">
		<property name="tokenService" ref="st.tokenService"/>
		<property name="userService" ref="st.userService"/>
	</bean>

	<bean id="st.dozerFactory" class="org.dozer.spring.DozerBeanMapperFactoryBean">
		<property name="mappingFiles" value="classpath*:/dozer/*.xml"/>
	</bean>
</beans>