<div class="form-group">
	<label for="birthDate" class="col-sm-2 control-label">Birth date</label>

	<div class="col-sm-3">
		<div class="input-group">
			<input type="text" id="birthDate" class="form-control"
			       ng-model="profile.person.birthDate"
			       is-open="profile.ui.datepicker.opened == true"
			       min="minDate"
			       max="'2015-06-22'"
			       datepicker-options="profile.ui.datepicker.dateOptions"
			       ng-required="true"
			       close-text="Close"
			       datepicker-popup="dd-MMMM-yyyy"
			       show-button-bar="false"/>
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="profile.ui.datepicker.open($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-4">
		<p class="form-control-static">
			<span class="glyphicon glyphicon-question-sign" popover-trigger="mouseenter" popover-placement="right"
			      popover="Your birth date is used to compute your maximum heart rate if you choose the &ldquo;Auto&rdquo; option."></span>
		</p>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">Gender</label>

	<div class="col-sm-6">
		<div class="radio">
			<label>
				<input type="radio" name="gender" id="gender_male" value="male" ng-model="profile.person.gender"> Male
			</label>
		</div>

		<div class="radio">
			<label>
				<input type="radio" name="gender" id="gender_female" value="female" ng-model="profile.person.gender">
				Female
			</label>
		</div>
	</div>
	<div class="col-sm-4">
		<p class="form-control-static">
			<span class="glyphicon glyphicon-question-sign" popover-trigger="mouseenter" popover-placement="right"
			      popover="Your gender is used to compute the basal metabolic rate (BMR)."></span>
		</p>
	</div>
</div>

<div class="form-group">
	<label for="weight" class="col-sm-2 control-label">Weight</label>

	<div class="col-sm-3">
		<input id="weight" name="weight" type="text" class="form-control" ng-model="profile.person.weight.value">
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="profile.person.weight.unit" ng-init="profile.person.weight.unit = profile.person.weight.unit || 'kg'">
			<option value="kg">kg</option>
			<option value="lb">lb</option>
		</select>
	</div>
	<div class="col-sm-1">
		<p class="form-control-static">
			<a href="">history</a>
		</p>
	</div>
	<div class="col-sm-4">
		<p class="form-control-static">
			<span class="glyphicon glyphicon-question-sign" popover-trigger="mouseenter" popover-placement="right"
			      popover="Your weight is used to compute several things, such as the BMR, the body mass index (MBI), etc."></span>
		</p>
	</div>
</div>
<div class="form-group">
	<label for="height" class="col-sm-2 control-label">Height</label>

	<div class="col-sm-3">
		<input id="height" name="height" type="text" class="form-control" ng-model="profile.person.height.value">
	</div>
	<div class="col-sm-2">
		<select class="form-control" ng-model="profile.person.height.unit" ng-init="profile.person.height.unit = profile.person.height.unit || 'cm'">
			<option value="cm">cm</option>
			<option value="in">in</option>
		</select>
	</div>
	<div class="col-sm-1">
		<p class="form-control-static">
			<a href="">history</a>
		</p>
	</div>
	<div class="col-sm-4">
		<p class="form-control-static">
			<span class="glyphicon glyphicon-question-sign" popover-trigger="mouseenter" popover-placement="right"
			      popover="Your height is used to compute several things, such as the BMR, the body mass index (MBI), etc."></span>
		</p>
	</div>
</div>
<div class="form-group">
	<label for="heartRateMin" class="col-sm-2 control-label">Minimum</label>

	<div class="col-sm-5">
		<input id="heartRateMin" name="heartRateMin" type="text" class="form-control" ng-model="profile.person.heartRate.min">
	</div>
	<div class="col-sm-1">
		<p class="form-control-static">
			<a href="">history</a>
		</p>
	</div>
	<div class="col-sm-4">
		<p class="form-control-static">
			<span class="glyphicon glyphicon-question-sign" popover-trigger="mouseenter" popover-placement="right"
			      popover="Your minimum heart rate is used to compute your heart rate zones."></span>
		</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">Maximum</label>

	<div class="col-sm-2">
		<div class="radio">
			<label>
				<input type="radio" name="maxHeartRateMethod" id="maxHeartRateMethod_Custom" value="custom" ng-model="profile.person.heartRate.method">
				Custom
			</label>
		</div>

		<div class="radio">
			<label>
				<input type="radio" name="maxHeartRateMethod" id="maxHeartRateMethod_Auto" value="auto" ng-model="profile.person.heartRate.method">
				Auto
			</label>
		</div>
	</div>
	<div class="col-sm-3    ">
		<input id="heartRateMax" name="heartRateMin" type="text" class="form-control" ng-model="profile.person.heartRate.max" ng-disabled="profile.person.heartRate.method == 'auto'">
	</div>
	<div class="col-sm-1">
		<p class="form-control-static">
			<a href="">history</a>
		</p>
	</div>
	<div class="col-sm-4">
		<p class="form-control-static">
			<span class="glyphicon glyphicon-question-sign" popover-trigger="mouseenter" popover-placement="right"
			      popover="Your maximum heart rate is used to compute your heart rate zones."></span>
		</p>
	</div>
</div>