<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<import resource="classpath:/spring/st-data-context.xml"/>

	<bean id="sf.service.hashing" class="net.cpollet.sportracker.service.BCryptService"/>

	<!--<bean id="st.userService" class="net.cpollet.sportracker.service.InMemoryUserService"/>-->
	<bean id="st.userService" class="net.cpollet.sportracker.service.MongoDbUserService">
		<property name="userRepository" ref="st.repository.users"/>
	</bean>

	<bean id="st.personService" class="net.cpollet.sportracker.service.MongoDbPersonService">
		<property name="userRepository" ref="st.repository.users"/>
	</bean>
</beans>
